# This file contains common pin mappings for the BIGTREETECH Manta M8P
# To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# See docs/Config_Reference.md for a description of parameters.


[board_pins spi_pins]
aliases:
    MOT_SPI_SCLK=PB13,    MOT_SPI_MOSI=PB15,     MOT_SPI_MISO=PB14


[board_pins motor_pins]
aliases:
  	X_STP=PC8,		X_DIR=PC9,		X_ENA=PA15,	    X_END=PD3,
  	X_UART=PD9,	    X_CS=PD9,		X_DIAG=PD3,

	Y_STP=PA10,	    Y_DIR=PA14,	    Y_ENA=PA13,		Y_END=PD2,
	Y_UART=PD8,	    Y_CS=PD8,		Y_DIAG=PD2,

	Z_STP=PC6,		Z_DIR=PC7,		Z_ENA=PA9,	    Z_END=PC3,
	Z_UART=PB10,	Z_CS=PB10,		Z_DIAG=PC3,

	E0_STP=PB12,	E0_DIR=PB11,	E0_ENA=PA8,		E0_END=PC2,
	E0_UART=PB2,	E0_CS=PB2,		E0_DIAG=PC2,

	E1_STP=PB0,		E1_DIR=PB1,		E1_ENA=PC4,		E1_END=PC1, # T0
	E1_UART=PA6,	E1_CS=PA6,		E1_DIAG=PC1,	


  	M1_STP=PC8,		M1_DIR=PC9,		M1_ENA=PA15,	M1_END=PD3,
  	M1_UART=PD9,	M1_CS=PD9,		M1_DIAG=PD3,

	M2_STP=PA10,	M2_DIR=PA14,	M2_ENA=PA13,	M2_END=PD2,
	M2_UART=PD8,	M2_CS=PD8,		M2_DIAG=PD2,

	M3_STP=PC6,		M3_DIR=PC7,		M3_ENA=PA9,	    M3_END=PC3,
	M3_UART=PB10,	M3_CS=PB10,		M3_DIAG=PC3,

	M4_STP=PB12,	M4_DIR=PB11,	M4_ENA=PA8,		M4_END=PC2,
	M4_UART=PB2,	M4_CS=PB2,		M4_DIAG=PC2,

	M5_STP=PB0,		M5_DIR=PB1,		M5_ENA=PC4,		M5_END=PC1, # T0
	M5_UART=PA6,	M5_CS=PA6,		M5_DIAG=PC1,	


[board_pins bed_pins]
aliases:
	BED_HEATER=PA5,
	BED_SENSOR=PA0 # TB


[board_pins heater_pins]
aliases:
	HEAT1_ENA=PC5, # HE0
	HEAT2_ENA=PA7, # HE1
	HEAT1_SENSOR=PA1, # HE0
	HEAT2_SENSOR=PA2, # HE1

[board_pins fan_pins]
aliases:
	FAN0_PWM=PA4,	FAN1_PWM=PA3,


# See the sample-lcd.cfg file for definitions of common LCD displays.

[board_pins blt_pins]
aliases:
	BLT_SNS=PC13,	BLT_CTL=PC15


[board_pins proximity_pins]
aliases:
	PROX_SNS=PC15

#[output_pin ps_on_pin]
#pin: PC3

[board_pins neopixel_pins]
aliases:
	NEOPIXEL1=PC11,	NEOPIXEL2=PC14


[board_pins expansion_pins]
aliases:
    # EXP1 header
    EXP1_1=PD5, 	EXP1_2=PD4,
    EXP1_3=PB3, 	EXP1_4=PD6,
    EXP1_5=PB5, 	EXP1_6=PB4,    # Slot in the socket on this side
    EXP1_7=PB7, 	EXP1_8=PB6,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PB14, 	EXP2_2=PB13,
    EXP2_3=PB8, 	EXP2_4=PB9,
    EXP2_5=PC10, 	EXP2_6=PB15,      # Slot in the socket on this side
    EXP2_7=PC12, 	EXP2_8=<RST>,
    EXP2_9=<GND>, 	EXP2_10=<NC>


